name: CI

on: push

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Checkout the code
        uses: actions/checkout@v1

      - name: Test
        run: make test

  linter:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@master

      - name: Setup Linter
        run: make setup

      - name: Check
        run: make check
